body {
    margin: 0;
    padding: 0;
  }

  #map {
    position: absolute;
    top: 8%;
    bottom: 0px;
    width: 100%;
   
  }

  .map-overlay {
    position: absolute;
    left: 0;
    padding: 10px;
  }
